@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #141e3c;
    font-family: Urbanist;
}

/*
.wrapper{
    background-color: red;
}
*/
.wrapper .header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 2rem 2rem;
    border: 1px solid white;
    border-radius: 5px;
}

.wrapper .header .title{
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    line-height: 1;
    cursor: pointer;
}

.wrapper .header .score{
    width: 6rem;
    margin: 0.8rem 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.wrapper .header .score span{
    color: #141e3c;
    font-weight: bold;
    margin-top: -0.6rem;
    letter-spacing: 3px;
}

.wrapper .header .score .player-score{
    color: grey;
    font-size: 2rem;
    margin-top: 0;
}

.wrapper .game{
    background-image: url("assets/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center top;
    height: 15rem;
    width: 50rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6rem;
}

.wrapper .container{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -4rem 4.5rem 2.6rem;
    transition: all 0.2 ease;
}

.wrapper .container{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -4rem 4.5rem 2.6rem;
    transition: all 0.2 ease;
}

.wrapper .paper{
    background-color: #4c69f5;
    box-shadow: 5rem black;
    margin-right: 4rem;
}

.wrapper .scissors{
    background-color: #ea9b10;
    box-shadow: 5rem hsl(229,89,30);
}

.wrapper .rock{
    background-color: #be2740;
    box-shadow: 5rem hsl(229,89,30);
    margin-top: 2rem;
}

.wrapper .container .button{
    border-radius: 50%;
    background-color: white;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Choose winner */
.wrapper .match{
    display: none;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: wheat;
}

.wrapper .match div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .match .user .container{
    display: none;
}

.wrapper .match .user .rock{
    display: flex;
}

.wrapper .match .decision span{
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

.wrapper .match .decision button{
    border-radius: 5px;
    border: none;
    width: 6rem;
    font-size: 1.2rem;
    box-shadow: inset;
}

.wrapper .match .computer .container{
    display: none;
}

.wrapper .match .computer .rock{
    display: flex;
}

/* How to play */
.wrapper .howtoplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    border: 1px solid white;
    border-radius: 5px;
}

.wrapper .howtoplay span{
    font-size: 1.6rem;
    margin: -0.8rem 0 1rem 0;
    padding: 0 1rem 0 1rem;
    background-color: #141e3c;
    color: #ea9b10;
}

.wrapper .howtoplay .instructions{
    padding: 1.6rem;
    color: white;
}

@media screen and (max-width: 850px){
    .wrapper{
        width: 100vw;
    }

    /* Puntuación */ 
    .wrapper .header .score{
        margin: 0.8rem 10%;
    }

    /* Buttons */

    .wrapper .game{
        margin: auto;
    }

    .wrapper .container{
        width: 8rem;
        height: 8rem;
        margin: -4rem 4.5rem 2.6rem;
    }

    .wrapper .container .button{
        width: 6rem;
        height: 6rem;
    }
}